<div class="container">
  <div
    class="search"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
  >
    <form [formGroup]="searchForm">

      <mat-form-field appearance="outline" [style.width.px]="400">
        <mat-label>Task</mat-label>
        <input type="text" matInput formControlName="search" />
      </mat-form-field>
    </form>
  </div>

  <div class="buttons">
    <button mat-raised-button color="primary" (click)="search()">Search</button>
    <button mat-raised-button color="primary" (click)="openForm()">
      Create
    </button>
  </div>
</div>
