.search {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 16px;
}

::ng-deep .mat-form-field-wrapper{
  margin-bottom: 0;
}

.buttons {
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 16px;
}