<!-- <app-task-search></app-task-search> -->
<app-task-search (updateEvents)="updateTimesheet($event)" (queryEvents)="searchTask($event)"></app-task-search>
<task-list
  [timesheets]="timesheets"
  (updateEvents)="updateTimesheet($event)"
></task-list>
