<div style="min-width: 30vw">
  <div mat-dialog-title>
    Timesheet {{ mode == "create" ? "Update" : "Create" }}
  </div>

  <form [formGroup]="form">
    <mat-dialog-content>
      <div class="person">
        <div>
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Project Name</mat-label>
            <input type="text" formControlName="projectName" matInput />
          </mat-form-field>
        </div>
      </div>

      <div class="person">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Task</mat-label>
            <input type="text" formControlName="task" matInput />
          </mat-form-field>
        </div>
      </div>

      <div class="person">
        <div>
          <mat-form-field fxFlex>
            <mat-label>Date From</mat-label>
            <input
              formControlName="date_from"
              matInput
              [matDatepicker]="picker"
              [value]="picker"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="person">
        <div>
          <mat-form-field>
            <mat-label>Date To</mat-label>
            <input
              formControlName="date_to"
              matInput
              [matDatepicker]="picker2"
              [value]="picker2"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="person">
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select matNativeControl formControlName="status">
            <mat-option *ngFor="let each of status$ | async" [value]="each.id">
              {{ each.status }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="person">
        <mat-form-field>
          <mat-label>Assigned To</mat-label>
          <mat-select matNativeControl formControlName="user">
            <mat-option *ngFor="let each of user$ | async" [value]="each.id">
              {{ each.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button
          mat-b
          *ngIf="mode == 'update'"
          mat-raised-button
          color="primary"
          (click)="updateForm()"
        >
          Update
        </button>
        <button
          *ngIf="mode == 'create'"
          mat-raised-button
          color="primary"
          (click)="createForm()"
        >
          Create
        </button>
        <button mat-raised-button color="primary" (click)="close()">
          Close
        </button>
      </mat-dialog-actions>
    </mat-dialog-content>
  </form>
</div>
