<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="projectName">
    <th mat-header-cell *matHeaderCellDef>Project</th>
    <td mat-cell *matCellDef="let timesheet">{{ timesheet.projectName }}</td>
  </ng-container>

  <ng-container matColumnDef="task">
    <th mat-header-cell *matHeaderCellDef>Task</th>
    <td mat-cell *matCellDef="let timesheet">{{ timesheet.task }}</td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef>Assigned To</th>
    <td mat-cell *matCellDef="let timesheet">{{ timesheet.user.name }}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let timesheet">{{ timesheet.status.status }}</td>
  </ng-container>

  <ng-container matColumnDef="date_from">
  <th mat-header-cell *matHeaderCellDef>From</th>
    <td mat-cell *matCellDef="let timesheet">{{ timesheet.date_from }}</td>
  </ng-container>

  <ng-container matColumnDef="date_to">
    <th mat-header-cell *matHeaderCellDef>To</th>
    <td mat-cell *matCellDef="let timesheet">{{ timesheet.date_to }}</td>
  </ng-container>

  <ng-container class="actions-cell" matColumnDef="actions">
    <th *matHeaderCellDef mat-header-cell></th>

    <td *matCellDef="let row" mat-cell>
      <button (click)="updateDialog(row)" type="button" mat-icon-button>
        <mat-icon>edit</mat-icon></button
      ><button (click)="deleteTimesheet(row)" type="button" mat-icon-button>
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: visibleColumns"></tr>
</table>
<mat-paginator class="paginator" [pageSize]="pageSize"></mat-paginator>
